@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.7rem;
    margin-bottom: 1rem;
}

header h1 {
    color: antiquewhite;
    margin-top: 0;
    margin-bottom: 1rem;
    cursor: pointer;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: rgb(201, 201, 201)
}

.search::placeholder {
    color: #aaa;
}

.seach::focus {
    background-color: #22254b;
    outline: none;
}

#search-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    width: 300px;
    position: relative;
    overflow: hidden;
}


.movie img {
    max-width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(17, 202, 79);
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: rgb(179, 47, 47);
}

.overview {
    background-color: rgb(212, 211, 212);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}